## Introduction to Scikit-Learn (sklearn)

### Topics:
0. End-to-end sklearn workflow
1. Getting the data ready
2. Choosing the right algorithm
3. Fitting the model for prediction
4. Evaluate model
5. Improve model
6. Save and load trained model
7. Putting it all together

In [33]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

from sklearn.model_selection import train_test_split

In [12]:
#loading data
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [13]:
# Create X (features matrix)
X = heart_disease.drop('target', axis = 1)   #every column except the target column

#create y (labels)
y = heart_disease['target']

In [18]:
# 2. choose the right model and hyparameters
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': 1,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [38]:
# 3. Fit the model to the training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#make prediction
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2
178,43,1,0,120,177,0,0,120,1,2.5,1,0,3
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3

In [37]:
#clf.fit(X_train, y_train)

In [35]:
import sklearn
sklearn.__version__

'0.19.2'